.search-popup
    ul.search-popup-list
        li.search-popup-item
            a(href="/") Люстры
        li.search-popup-item
            a(href="/") Цоколь для люстр
        li.search-popup-item
            a(href="/") Потолочная люстра
        li.search-popup-item
            a(href="/") Люстры и бра
    ul.searh-popup-products
        li.searh-popup-product
            img.searh-popup-product__img(src="static/img/general/search/img1.png")
            .searh-popup-product-info
                a(href="/") Потолочная люстра Lightstar Nubi Ondoso 802031
                .searh-popup-product-info__price
                    span 1 690 ₽
                    span 9 690 ₽
        li.searh-popup-product
            img.searh-popup-product__img(src="static/img/general/search/img2.png")
            .searh-popup-product-info
                a(href="/") Потолочная люстра Lumion Zulienna 3314/8C
                .searh-popup-product-info__price
                    span 1 690 ₽
                    span 9 690 ₽
        li.searh-popup-product
            img.searh-popup-product__img(src="static/img/general/search/img3.png")
            .searh-popup-product-info
                a(href="/") Торшер Arte Lamp Goliath A2487PN-1BK
                .searh-popup-product-info__price
                    span 1 690 ₽
                    span 9 690 ₽
    a.teamlight-link(href="/") Перейти ко всем результатам поиска