#popop-city-choise.modal.fade.popup-bg(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content.popup2-content
            button.close.popup-close(type='button' data-dismiss='modal' aria-label='Close')
                +icon('close')
            .popup-question-content
                .popup-1-right-content.popup-choice-city-form
                    h3.popup-title.fs-22 Город или регион
                    form
                        .popup-chise-city-input
                            input.teamlight-inputs.popup-input-val-text(type="text" placeholder="Введите название города")
                            label выберите город поиска или выберите город из списка
                        ul.popup-chise-city-list.row
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Россия
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Москва
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Санкт-Петербург
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Ярославль
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Казань
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Пермь
                            li.popup-chise-city-item.col-lg-3.col-md-4.col-sm-4  Хабаровск




