#popop-preload.modal.fade.popup-bg(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.popup-dialog(role='document')
        .modal-content.popup-content
            button.close.popup-close(type='button' data-dismiss='modal' aria-label='Close')
                +icon('close')
            h3.popup-title Люстра ArteLamp A5518LM-3SS FISHERMAN
            .popup-left-right
                .popup-left.col-xl-6.col-lg-6.col-md-6.col-sm-12
                    .popup-swiper.swiper-container
                        .swiper-wrapper
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/big/img-big.png")
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/mini/img1.png")
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/mini/img2.png")
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/mini/img3.png")
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/mini/img4.png")
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/big/img-big.png")
                            .popup-slide.swiper-slide
                                img.img-width-100(src="static/img/content/product/mini/img1.png")
                    .popup-swiper-horisontal-wrap
                        .popup-swiper-horisontal.swiper-container
                            .swiper-wrapper
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/big/img-big.png")
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/mini/img1.png")
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/mini/img2.png")
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/mini/img3.png")
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/mini/img4.png")
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/big/img-big.png")
                                .popup-slide-thumb.swiper-slide
                                    img.img-width-100(src="static/img/content/product/mini/img1.png")
                        .popup-swiper-count-photo
                            span.popup-swiper-count #[span.thumb-count2] фото


                .popup-right.col-xl-6.col-lg-6.col-md-6.col-sm-12
                    .popup-product-info
                        .popup-product-icon-price
                            .popup-product-price
                                span.popup-product-price-span 100 990 ₽
                                span.popup-product-price-span2 109 690 ₽
                            .popup-favourite
                                +icon('heart')
                        ul.product-content-info-attr-list
                            li.product-content-info-attr-item
                                span.product-content-info-attr-name Код товара
                                span.product-content-info-attr-value 7950-314842
                            li.product-content-info-attr-item
                                span.product-content-info-attr-name Артикул
                                span.product-content-info-attr-value 317011303
                            li.product-content-info-attr-item
                                span.product-content-info-attr-name Производитель
                                span.product-content-info-attr-value MW-Light
                            li.product-content-info-attr-item
                                span.product-content-info-attr-name Страна
                                span.product-content-info-attr-value Испания
                            li.product-content-info-attr-item
                                span.product-content-info-attr-name Количество ламп, шт
                                span.product-content-info-attr-value 4
                        .product-content-info-present.popup-present
                            +icon('present')
                            p Комплект светодиодных ламп, установка и сборка в подарок
                        .popup-buttons-add-to-cart
                            .teamlight-buttons-buy.popup-buy В корзину
                            .teamlight-buttons-buy.popup-buy-1-click Купить в 1 клик
                        a.popup-go-to-product(href="/")
                            span.popup-link-text Перейти на страницу товара
                            .popup-link-icon
                                +icon('arrow-right')







