section.erro-404.bread-border
    .container
        .error-content.col-lg-7
            .error-content-img(style="background-image: url('static/img/general/404.png')")
            h3.section-title.text-center Упс, кажется вы ищете страницу, которой нет
            p Возможно вам поможет поиск или вы найдете нужный товар в каталоге
            a.teamlight-buttons-buy.error-button(href="") Перейти в каталог