.header-popup-catalog
    .container
        .header-popup-catalog-wrap.col-xl-8.col-lg-12
            .header-popup-catalog-list-cols.col-lg-4
                ul.header-popup-catalog-list
                    span Люстры
                    li.header-popup-catalog-item
                        a(href="/") Подвесные
                    li.header-popup-catalog-item
                        a(href="/") Потолочные
                    li.header-popup-catalog-item
                        a(href="/") Хрустальные
                    li.header-popup-catalog-item
                        a(href="/") Дизайнерские
                    li.header-popup-catalog-item
                        a(href="/") Большие
                ul.header-popup-catalog-list
                    span Торшеры
                    li.header-popup-catalog-item
                        a(href="/") 1 плафон
                    li.header-popup-catalog-item
                        a(href="/") Потолочные
                    li.header-popup-catalog-item
                        a(href="/") 2 плафона
                    li.header-popup-catalog-item
                        a(href="/") 3 и более плафонов
                ul.header-popup-catalog-list
                    span Настенно-потолочные светильники
                    li.header-popup-catalog-item
                        a(href="/") 1 плафон
                    li.header-popup-catalog-item
                        a(href="/") Потолочные
                    li.header-popup-catalog-item
                        a(href="/") 2 плафона
                    li.header-popup-catalog-item
                        a(href="/") 3 и более плафонов
            .header-popup-catalog-list-cols.col-lg-4
                ul.header-popup-catalog-list
                    span Подвесы
                    li.header-popup-catalog-item
                        a(href="/") Светодиодные
                    li.header-popup-catalog-item
                        a(href="/") В виде шара
                    li.header-popup-catalog-item
                        a(href="/") Хрустальные

                ul.header-popup-catalog-list
                    span Настольные лампы
                    li.header-popup-catalog-item
                        a(href="/") 1 плафон
                    li.header-popup-catalog-item
                        a(href="/") 2 плафона
                    li.header-popup-catalog-item
                        a(href="/") 3 и более плафонов
                ul.header-popup-catalog-list
                    span Споты
                    li.header-popup-catalog-item
                        a(href="/") С 1 лампой
                    li.header-popup-catalog-item
                        a(href="/") 2 лампами
                    li.header-popup-catalog-item
                        a(href="/") С 3 лампами
                    li.header-popup-catalog-item
                        a(href="/") С 4 лампами
                    li.header-popup-catalog-item
                        a(href="/") Светодиодные
                    li.header-popup-catalog-item
                        a(href="/") Трековые светильники
                    li.header-popup-catalog-item
                        a(href="/") Шинопроводы
            .header-popup-catalog-list-cols.col-lg-4
                ul.header-popup-catalog-list
                    span Подсветка для картин
                    li.header-popup-catalog-item
                        a(href="/") 1 плафон
                ul.header-popup-catalog-list
                    span Бра
                    li.header-popup-catalog-item
                        a(href="/") 1 плафон
                    li.header-popup-catalog-item
                        a(href="/") 2 плафона
                    li.header-popup-catalog-item
                        a(href="/") 3 и более плафонов
                    li.header-popup-catalog-item
                        a(href="/") Светодиодные
                    li.header-popup-catalog-item
                        a(href="/") С выключателем
                ul.header-popup-catalog-list
                    span Точки,страиваемые светильники
                    li.header-popup-catalog-item
                        a(href="/") 1 плафон
                    li.header-popup-catalog-item
                        a(href="/") 2 плафона
                    li.header-popup-catalog-item
                        a(href="/") 3 и более плафонов