.mobile-menu-fixed
    .mobile-menu-nav
        .mobile-menu-go-back
            +icon('long-left')
            span.mobile-menu-go-back-button Назад
        //.mobile-menu-ready Готово
    .mobile-menu-content
        .mobile-menu-content-attr
            .mobile-menu-content-arrow
                span.mobile-menu-content-arrow-text Люстры
                +icon('arrow-down')
            ul.header-popup-catalog-list.mobile-menu-content-list
                li.header-popup-catalog-item
                    a(href="/") Подвесные
                li.header-popup-catalog-item
                    a(href="/") Потолочные
                li.header-popup-catalog-item
                    a(href="/") Хрустальные
                li.header-popup-catalog-item
                    a(href="/") Дизайнерские
                li.header-popup-catalog-item
                    a(href="/") Большие
        .mobile-menu-content-attr
            .mobile-menu-content-arrow
                span.mobile-menu-content-arrow-text Торшеры
                +icon('arrow-down')
            ul.header-popup-catalog-list.mobile-menu-content-list
                li.header-popup-catalog-item
                    a(href="/") Подвесные
                li.header-popup-catalog-item
                    a(href="/") Потолочные
                li.header-popup-catalog-item
                    a(href="/") Хрустальные
                li.header-popup-catalog-item
                    a(href="/") Дизайнерские
                li.header-popup-catalog-item
                    a(href="/") Большие
        .mobile-menu-content-attr
            .mobile-menu-content-arrow
                span.mobile-menu-content-arrow-text Настенно-потолочные светильники
                +icon('arrow-down')
            ul.header-popup-catalog-list.mobile-menu-content-list
                li.header-popup-catalog-item
                    a(href="/") Подвесные
                li.header-popup-catalog-item
                    a(href="/") Потолочные
                li.header-popup-catalog-item
                    a(href="/") Хрустальные
                li.header-popup-catalog-item
                    a(href="/") Дизайнерские
                li.header-popup-catalog-item
                    a(href="/") Большие
        .mobile-menu-content-attr
            .mobile-menu-content-arrow
                span.mobile-menu-content-arrow-text Подвесы
                +icon('arrow-down')
            ul.header-popup-catalog-list.mobile-menu-content-list
                li.header-popup-catalog-item
                    a(href="/") Подвесные
                li.header-popup-catalog-item
                    a(href="/") Потолочные
                li.header-popup-catalog-item
                    a(href="/") Хрустальные
                li.header-popup-catalog-item
                    a(href="/") Дизайнерские
                li.header-popup-catalog-item
                    a(href="/") Большие
.mobile-menu-fixed2
    .mobile-menu-content
        .mobile-menu-main-city
            span Ваш город
            .mobile-menu-main-choise
                span Санкт-Петербург
                +icon('arrow-right')
        a.mobile-menu-main-phone(href="tel:88005513135")
            span.mobile-menu-main-phone-bold 8 800 551 31 35
            span.mobile-menu-main-phone-small Принимаем звонки с 10.00 до 22.00
        ul.mobile-menu-main-list
            li.mobile-menu-main-item
                .mobile-menu-main-item-catalog
                    span Каталог
                    +icon('arrow-right')
            li.mobile-menu-main-item
                a(href="/about-us.html") О нас
            li.mobile-menu-main-item
                a(href="/about-us.html") Партнерам
            li.mobile-menu-main-item
                a(href="/about-us.html") Новости
            li.mobile-menu-main-item
                a(href="/about-us.html") Доставка и оплата
            li.mobile-menu-main-item
                a(href="/about-us.html") Установка и сборка
            li.mobile-menu-main-item
                a(href="/about-us.html") Контакты

.mobile-menu-fixed3
    form
        .mobile-menu-nav
            .mobile-menu-go-back
                +icon('long-left')
                span.mobile-menu-go-back-button Назад
            .mobile-menu-ready Готово
        .mobile-menu-input-choise-city
            label Название населенного пункта
            input.teamlight-inputs.mobile-menu-ci(type="text" placeholder=)
            .mobile-menu-input-button
                +icon('close')
            ul.mobile-menu-input-content
                li.mobile-menu-input-content-item
                    .mobile-input-content-item-text1 Москва
                    .mobile-input-content-item-text2 Москва и Московская область, Россия
                li.mobile-menu-input-content-item
                    .mobile-input-content-item-text1 Московское
                    .mobile-input-content-item-text2 Изобильненский городской округ, Ставропольски край, Россия
                li.mobile-menu-input-content-item
                    .mobile-input-content-item-text1 Новая Москва
                    .mobile-input-content-item-text2 Красногорский район, Брянская область, Россия





