extends ../layout/catalog

block variables
    - var title = 'Каталог - люстры'
    - var pageClass = 'catalog-page'

block content
    include catalog/breadcrumbs
    include ../modules/go-back-mobile
    include catalog/section-catalog
    include index/section-6