extends ../layout/basket

block variables
    - var title = 'Оформление заказа'
    - var pageClass = 'basket-page'

block content
    include checkout/breadcrumbs
    include ../modules/go-back-mobile
    include checkout/section-1
