extends ../layout/basket

block variables
    - var title = 'Партнерам'
    - var pageClass = 'index-page'

block content
    include partner/breadcrumbs
    include ../modules/go-back-mobile
    include partner/section-1