extends ../layout/product

block variables
    - var title = 'Страница продукта'
    - var pageClass = 'product-page'

block content
    include product/breadcrumbs
    include ../modules/go-back-mobile
    include product/section-1
    include product/section-2
    include product/section-3
    include product/section-4
    include product/section-5
    include product/section-6