extends ../layout/basket

block variables
    - var title = 'Установка и сборка'
    - var pageClass = 'index-page'

block content
    include setup/breadcrumbs
    include ../modules/go-back-mobile
    include setup/section-1