section.basket-you
    .container
        .basket-empty-wrap
            .basket-empty.col-lg-6
                img.basket-empty__img.img-width-100(src="static/img/general/pages/img3.png")
                h3.section-title Ваша корзина пуста
                p Вы пока ничего не добавили в корзину. Воспользуйтесь поиском  или каталогом, чтобы найти всё что нужно.
                a.thx-order-button.teamlight-buttons-buy.you-basket-over-buy(href="/") Начать покупки