section.basket-product
    .container
        .basket-product-wrap
            h3.section-title Корзина
            form.basket-products-wrapper
                .basket-products.col-xl-8.col-lg-12
                    ul.basket-product-list
                        li.basket-product-item
                            .basket-product-border-li
                                .basket-attr-and-img
                                    img.img-width-100.basket-img(src="static/img/content/basket/img1.png")
                                    .basket-product-attr
                                        .basket-product-name Люстра ArteLamp A5518LM-3SS FISHERMAN
                                        .bakset-product-favo-del
                                            .basket-product-favo.basket-attr-cont В избранное
                                            .basket-product-del.basket-attr-cont Удалить
                                        .basket-product-artikul Артикул 317011303
                                .basket-products-price-count
                                    .basket-product-price-info
                                        .basket-product-price-and-prosent
                                            .basket-product-price-before 9 000 ₽
                                            .basket-product-prosent -15%
                                        .basket-product-stock
                                            .basket-product-price-after 10 000 ₽
                                            .basket-product-stock-summ Скидка 2 000 ₽
                                    .basket-product-count-add(onmousedown="return false" onselectstart="return false")
                                        .basket-product-button-minus.basket-product-buttons –
                                        input.basket-product-count-products(type="number" value="1")
                                        .basket-product-button-plus.basket-product-buttons +


                        li.basket-product-item
                            .basket-product-border-li
                                .basket-attr-and-img
                                    img.img-width-100.basket-img(src="static/img/content/basket/img2.png")
                                    .basket-product-attr
                                        .basket-product-name Люстра MW-Light 317011303 Афродита
                                        .bakset-product-favo-del
                                            .basket-product-favo.basket-attr-cont В избранное
                                            .basket-product-del.basket-attr-cont Удалить
                                        .basket-product-artikul Артикул 317011303
                                .basket-products-price-count
                                    .basket-product-price-info
                                        .basket-product-price-and-prosent
                                            .basket-product-price-before 116 755 ₽
                                    .basket-product-count-add(onmousedown="return false" onselectstart="return false")
                                        .basket-product-button-minus.basket-product-buttons –
                                        input.basket-product-count-products(type="number" value="1")
                                        .basket-product-button-plus.basket-product-buttons +

                        li.basket-product-item
                            .basket-product-border-li
                                .basket-attr-and-img
                                    img.img-width-100.basket-img(src="static/img/content/basket/img3.png")
                                    .basket-product-attr
                                        .basket-product-name Подвес Lightstar 803061 Pentola
                                        .bakset-product-favo-del
                                            .basket-product-favo.basket-attr-cont В избранное
                                            .basket-product-del.basket-attr-cont Удалить
                                        .basket-product-artikul Артикул 317011303
                                .basket-products-price-count
                                    .basket-product-price-info
                                        .basket-product-price-and-prosent
                                            .basket-product-price-before 9 000 ₽
                                            .basket-product-prosent -15%
                                        .basket-product-stock
                                            .basket-product-price-after 10 000 ₽
                                            .basket-product-stock-summ Скидка 2 000 ₽
                                    .basket-product-count-add(onmousedown="return false" onselectstart="return false")
                                        .basket-product-button-minus.basket-product-buttons –
                                        input.basket-product-count-products(type="number" value="1")
                                        .basket-product-button-plus.basket-product-buttons +

                        li.basket-product-item
                            .basket-product-border-li
                                .basket-attr-and-img
                                    img.img-width-100.basket-img(src="static/img/content/basket/img4.png")
                                    .basket-product-attr
                                        .basket-product-name Потолочная люстра Lumion Zulienna 3314/8Ca
                                        .bakset-product-favo-del
                                            .basket-product-favo.basket-attr-cont В избранное
                                            .basket-product-del.basket-attr-cont Удалить
                                        .basket-product-artikul Артикул 317011303
                                .basket-products-price-count
                                    .basket-product-price-info
                                        .basket-product-price-and-prosent
                                            .basket-product-price-before 9 000 ₽
                                            .basket-product-prosent -15%
                                        .basket-product-stock
                                            .basket-product-order Товар доступен под заказ
                                    .basket-product-count-add(onmousedown="return false" onselectstart="return false")
                                        .basket-product-button-minus.basket-product-buttons –
                                        input.basket-product-count-products(type="number" value="1")
                                        .basket-product-button-plus.basket-product-buttons +
                    .basket-products-over
                        .basket-product-over-title Товары закончились
                        .basket-product-item
                            .basket-product-border-li
                                .basket-attr-and-img
                                    img.img-width-100.basket-img(src="static/img/content/basket/img1.png")
                                    .basket-product-attr
                                        .basket-product-name Люстра ArteLamp A5518LM-3SS FISHERMAN
                                        .bakset-product-favo-del
                                            .basket-product-favo.basket-attr-cont В избранное
                                            .basket-product-del.basket-attr-cont Удалить
                                        .basket-product-artikul Артикул 317011303
                                .basket-products-over-block
                                    a.teamlight-link.basket-products-similar(href="/") Похожите товары
                                    .teamlight-buttons-buy.basket-products-notific(data-toggle="modal" data-target="#popop-notific") Уведомить о поступлении

                .basket-products-info.col-xl-4.col-lg-12
                    .your-basket
                        .tab-title Ваша корзина
                        .you-basket-summ-and-stock
                            .your-product-summ
                                span 4 товара на сумму
                                span 143 500 ₽
                            .your-product-summ
                                span Общая скидка
                                span.you-basket-stock -8 145 ₽
                        .you-basket-summ-over
                            span Итоговая стоимость
                            span 138 355 ₽
                        .you-basket-over-buy.teamlight-buttons-buy Перейти к оформлению
                    .your-basket-call
                        .tab-title Не хотите ничего заполнять?
                        p Тогда позвоните нам по номеру и менеджер примет заказ по телефону
                        .you-call-me
                            +icon('call-me')
                            a.teamlight-link(href="tel:+74957616160") +7 (495) 761-61-60


