section.partner
    .container
        .all-partner-wrap
            .partner-wrap
                .partner-content
                    .partner-content-text.col-xl-7.col-lg-6.col-md-6.col-sm-12
                        h3.section-title Вы дизайнер или предприниматель?
                        p У нас в наличии более 15 000 артикулов и мы предлагаем скидку до 20% от заказа
            .partner-my-partner
                .partner-my-wrap.col-lg-4
                    h3.section-title Кто наши партнеры и что мы предлагаем?
                    p Это дизайнеры, архитекторы и более 100 компаний по всей России
                .partner-block-list.row
                    .partner-block-item.col-lg-4.col-md-4.col-sm-12
                        +icon('lamp')
                        span Партии оптовые и мелкооптовые
                        p светотехнического оборудования и помощь в их формировании
                    .partner-block-item.col-lg-4.col-md-4.col-sm-12
                        +icon('skid')
                        span Специальные предложения
                        p для дилеров и дизайнеров, а также гибкую систему скидок
                    .partner-block-item.col-lg-4.col-md-4.col-sm-12
                        +icon('money')
                        span Несколько вариантов оплаты товара
                        p как наличными и банковским переводом, так и через платежные системы
            .partner-subscribe
                .partner-sub.col-lg-6
                    h3.section-title Мы всегда рады новым партнерам!
                    p Оставьте свой номер телефона, мы вам позвоним и обсудим дальнейшее сотрудничество!
                .partner-sub.col-lg-6.justify-content-center.d-flex
                    form
                        .partner-sub-form
                            input.teamlight-inputs.phone-mask(type="phone" placeholder="Номер телефона")
                            button.partner-sub-button(type="submit")
                                +icon('long-arrow')








