section.news
    .container
        .news-wrapper
            h3.section-title Новости
            .news-container.row
                article.news-container-items.col-lg-6.col-md-6.col-sm-12
                    .news-img-wrap
                        img.img-width-100(src="static/img/general/news/img1.png")
                        span.news-img-date 29 октября 2019
                    .news-info-wrap
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                        .news-title Светильники в стиле Лофт
                        p.news-text Хрустальная люстра – настоящая эстетическая находка для любого интерьера. Кристаллы хрусталя, сверкающие на свету, способны преобразить любое помещение и непревзойденной игрой света, принести с собой красоту, комфорт ...
                article.news-container-items.col-lg-6.col-md-6.col-sm-12
                    .news-img-wrap
                        img.img-width-100(src="static/img/general/news/img2.png")
                        span.news-img-date 29 октября 2019
                    .news-info-wrap
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                        .news-title Светильники в стиле Лофт
                        p.news-text Хрустальная люстра – настоящая эстетическая находка для любого интерьера. Кристаллы хрусталя, сверкающие на свету, способны преобразить любое помещение и непревзойденной игрой света, принести с собой красоту, комфорт ...
                article.news-container-items.col-lg-6.col-md-6.col-sm-12
                    .news-img-wrap
                        img.img-width-100(src="static/img/general/news/img1.png")
                        span.news-img-date 29 октября 2019
                    .news-info-wrap
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                        .news-title Светильники в стиле Лофт
                        p.news-text Хрустальная люстра – настоящая эстетическая находка для любого интерьера. Кристаллы хрусталя, сверкающие на свету, способны преобразить любое помещение и непревзойденной игрой света, принести с собой красоту, комфорт ...
                article.news-container-items.col-lg-6.col-md-6.col-sm-12
                    .news-img-wrap
                        img.img-width-100(src="static/img/general/news/img2.png")
                        span.news-img-date 29 октября 2019
                    .news-info-wrap
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                        .news-title Светильники в стиле Лофт
                        p.news-text Хрустальная люстра – настоящая эстетическая находка для любого интерьера. Кристаллы хрусталя, сверкающие на свету, способны преобразить любое помещение и непревзойденной игрой света, принести с собой красоту, комфорт ...
                article.news-container-items.col-lg-6.col-md-6.col-sm-12
                    .news-img-wrap
                        img.img-width-100(src="static/img/general/news/img1.png")
                        span.news-img-date 29 октября 2019
                    .news-info-wrap
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                        .news-title Светильники в стиле Лофт
                        p.news-text Хрустальная люстра – настоящая эстетическая находка для любого интерьера. Кристаллы хрусталя, сверкающие на свету, способны преобразить любое помещение и непревзойденной игрой света, принести с собой красоту, комфорт ...
                article.news-container-items.col-lg-6.col-md-6.col-sm-12
                    .news-img-wrap
                        img.img-width-100(src="static/img/general/news/img2.png")
                        span.news-img-date 29 октября 2019
                    .news-info-wrap
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                        .news-title Светильники в стиле Лофт
                        p.news-text Хрустальная люстра – настоящая эстетическая находка для любого интерьера. Кристаллы хрусталя, сверкающие на свету, способны преобразить любое помещение и непревзойденной игрой света, принести с собой красоту, комфорт ...

            .news-show-more
                +icon('long-down')
                span Показать еще
