.catalog-content-prodcut-item.col-xl-4.col-lg-6.col-md-4.col-sm-6
    .catalog-product-item
        img.catalog-product-item__img.img-width-100(src="static/img/content/catalog/img1.png")
        .catalog-prodcut-procent – 15%
        .catalog-prodcut-favourite
            +icon('heart')
        .catalog-prodcut-present
            +icon('present')
            p.catalog-prodcut-present-text Комплект светодиодных ламп в подарок
        .catalog-product-preview(data-toggle="modal" data-target="#popop-preload")
            +icon('search')
            p.catalog-product-preview-text Быстрый просмотр
        .catalog-product-item-info
            .catalog-product-country-and-count
                span.catalog-product-country Lightstar (Италия)
                span.catalog-product-in-stock Осталось 1 шт.
            a.catalog-product-name__link.product-item-last-day__link(href="/") Потолочная люстра Lightstar Nubi Ondoso 802031
            .catalog-product-item-price-and-stock.product-item-price-and-stock
                .catalog-product-item-price-stock.product-item-price-stock 7 690 ₽
                .catalog-product-item-price-no-stock.product-item-price-no-stock 9 690 руб
            .catalog-prodcut-item-added-to-cart
                +icon('basket')
                .catalog-prodcut-item-added-to-cart-text В корзину