section.last-day-stock
    .container
        .last-day-stock-wrapper
            .last-day-title-and-arrows
                h3.section-title Последний день акции
                .last-day-arrows-wrap
                    .last-day-next.last-day-arrows
                        +icon('arrow-left')
                    .last-day-prev.last-day-arrows
                        +icon('arrow-right')
            .last-day-products-list.swiper-container
                .swiper-wrapper
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image1.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image2.png" alt="Название")
                                .product-stock-procent – 20%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image3.png" alt="Название")
                                .product-stock-procent.product-stock-red – 75%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image4.png")
                                .product-stock-procent – 10%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image5.png" alt="Название")
                                .product-stock-procent – 20%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image1.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .last-day-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image1.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽


            .last-dat-product-in-catalog.swiper-container
                .last-day-catalog-items.swiper-wrapper
                    .last-day-catalog-item.swiper-slide
                        .last-day-catalog-item__img(style="background-image:url('static/img/content/imge1.png')" alt="Название")
                        .last-day-cat-info
                            span.last-day-cat-category Люстры
                            h3.last-day-cat-category-title Alfa
                            a.last-day-cat-category-link(href="/")
                                span Перейти в каталог
                                .last-day-cat-category-link-icon
                                    +icon('arrow-right')
                    .last-day-catalog-item.blue-catalog-item.swiper-slide
                        .last-day-catalog-item__img(style="background-image:url('static/img/content/imge2.png')" alt="Название")
                        .last-day-cat-info
                            span.last-day-cat-category Люстры
                            h3.last-day-cat-category-title ArteLamp
                            a.last-day-cat-category-link(href="/")
                                span Перейти в каталог
                                .last-day-cat-category-link-icon
                                    +icon('arrow-right')
                .last-dat-swiper-pagination.swiper-pagination
    .all-firm-slider.swiper-container
        .all-firm-slider-wrap.swiper-wrapper
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img1.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img2.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img3.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img4.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img5.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img6.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img1.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img2.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img3.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img4.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img5.png" alt="Картинка")
            .all-firm-slide.swiper-slide
                img.all-firm-slide.img-width-100(src="static/img/general/firmSlider/img6.png" alt="Картинка")
