section.long-baner
    .container
        .long-baner-content
            .long-baner-wrap
                h3.section-title Люстры и светильники teamlight
                p.section-text Купить люстру в интернет-магазине Teamlight – значит приобрести не просто красивую, качественную, удобную в эксплуатации и функциональную вещь, а предмет, который может полностью преобразить интерьер любой комнаты. Наши светильники сделают Ваше жилище еще более красивым и уютным!
                a(href="/") Читать полностью
            .long-baner-bg(style="background-image:url('static/img/content/img-ban.png')")