section.popular
    .container
        h3.section-title.text-center Популярные категории
        .populat-catalog-swiper.swiper-container
            .populat-catalog.row.swiper-wrapper
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra1')
                        span.popular-catalog-item-category Люстры
                        h3.popular-catalog-item--title Подвесные
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra2')
                        span.popular-catalog-item-category Люстры
                        h3.popular-catalog-item--title Потолочные
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra3')
                        span.popular-catalog-item-category Люстры
                        h3.popular-catalog-item--title Большие
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra4')
                        span.popular-catalog-item-category Люстры
                        h3.popular-catalog-item--title Дизайнерские
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra5')
                        span.popular-catalog-item-category Люстры
                        h3.popular-catalog-item--title Маленькие
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra6')
                        span.popular-catalog-item-category Бра
                        h3.popular-catalog-item--title Светодиодные
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra7')
                        span.popular-catalog-item-category светильники
                        h3.popular-catalog-item--title Настольные
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra8')
                        span.popular-catalog-item-category Торшеры
                        h3.popular-catalog-item--title В стиле лофт
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra9')
                        span.popular-catalog-item-category Подвесы
                        h3.popular-catalog-item--title Хрустальные
                .polulat-catalog-wrap.col-lg-2dot4.swiper-slide.col-md-3.col-sm-4
                    a.popular-catalog-item(href="/")
                        +icon('lustra10')
                        span.popular-catalog-item-category Торшеры
                        h3.popular-catalog-item--title Высокие

        .guarantie-main
            .guarantie-main-item-wrap.col-lg-4
                .guarantie-main-item
                    +icon('guarantie')
                    .guarantie-main-block
                        span 12 месяцев гарантии
                        p Мы уверены в качестве своего товара
            .guarantie-main-item-wrap.col-lg-4
                .guarantie-main-item
                    +icon('calendar')
                    .guarantie-main-block
                        span 14 дней на возврат
                        p Вы всегда можете вернуть товар
            .guarantie-main-item-wrap.col-lg-4
                .guarantie-main-item
                    +icon('delivery')
                    .guarantie-main-block
                        span Доставка по всей России
                        p Доставим любой город без предоплаты