section.breadcrumbs.pb-0.bread-border
    .container
        ul.breadcrumb-list
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Главная
                +icon('arrow-right')
            li.breadcrumb-item
                a.breadcrumb-link(href="/") О нас