section.about-us.pb-0
    .container
        .all-partner-wrap
            .partner-wrap.about-us-wrap
                .partner-content.about-us-content
                    .partner-content-text.col-xl-7.col-lg-6.col-md-6.col-sm-7
                        h3.section-title Мы делаем все возможное для того, чтобы вам было удобно сотрудничать с нами!




            h3.section-title Наши преимущества
            .partner-my-partner.delivery-my
                .partner-block-list.row
                    .partner-block-item.col-lg-4.col-md-6.col-sm-6
                        +icon('calendar')
                        span График работы и поддержка
                        p Мы готовы к сотрудничеству с вами без перерывов, а наши дизайнеры, всегда рады помочь вам с выбором
                    .partner-block-item.col-lg-4.col-md-6.col-sm-6
                        +icon('lamp')
                        span Уверенность в нашем товаре
                        p Мы всегда проверяем целостность и работоспособность техники перед тем, как отправить ее заказчику
                    .partner-block-item.col-lg-4.col-md-6.col-sm-6
                        +icon('cc')
                        span Наличие сертификатов
                        p Мы всегда проверяем целостность и работоспособность техники перед тем, как отправить ее заказчику
                    .partner-block-item.col-lg-4.col-md-6.col-sm-6
                        +icon('hh')
                        span Забота о клиентах
                        p Покупать у нас — выгоднее, чем в других магазинах, на всех этапах заказа вам будет помогать наш специалист
                    .partner-block-item.col-lg-4.col-md-6.col-sm-6
                        +icon('guarantie')
                        span Долговременная гарантия
                        p Обратившись к нам, вы сможете не беспокоиться о том, что потеряете свои деньги
                    .partner-block-item.col-lg-4.col-md-6.col-sm-6
                        +icon('check')
                        span Система бонусов и оплата
                        p Мы создаем максимально комфортные условия для каждого клиента