section.comments-yandex
    .container
        .comments-title-arrow
            h3.section-title О нас говорят
            .last-day-arrows-wrap
                .new-product-next.last-day-arrows.comments-next
                    +icon('arrow-left')
                .new-product-prev.last-day-arrows.comments-prev
                    +icon('arrow-right')
        .comments-ya.swiper-container
            .swiper-wrapper
                .commen-ya-slide.swiper-slide
                    span.comment-date 12.09.2019
                    .comment-ya-info
                        .comment-ya-name Ольга
                        .index-real-review-rateyo(data-rating="")
                    p.comment-ya-text Несколько раз заказывала в данном магазине, всегда радовала быстрая доставка. Люстру привезли и установили мастера бесплатно. Заказывала бра, предложили сразу лампочки и скидки приятные, после первого заказа. 10% не бывают лишние!
                .commen-ya-slide.swiper-slide
                    span.comment-date 12.09.2019
                    .comment-ya-info
                        .comment-ya-name Ольга
                        .index-real-review-rateyo(data-rating="")
                    p.comment-ya-text Несколько раз заказывала в данном магазине, всегда радовала быстрая доставка. Люстру привезли и установили мастера бесплатно. Заказывала бра, предложили сразу лампочки и скидки приятные, после первого заказа. 10% не бывают лишние!
                .commen-ya-slide.swiper-slide
                    span.comment-date 12.09.2019
                    .comment-ya-info
                        .comment-ya-name Ольга
                        .index-real-review-rateyo(data-rating="")
                    p.comment-ya-text Несколько раз заказывала в данном магазине, всегда радовала быстрая доставка. Люстру привезли и установили мастера бесплатно. Заказывала бра, предложили сразу лампочки и скидки приятные, после первого заказа. 10% не бывают лишние!
                .commen-ya-slide.swiper-slide
                    span.comment-date 12.09.2019
                    .comment-ya-info
                        .comment-ya-name Ольга
                        .index-real-review-rateyo(data-rating="")
                    p.comment-ya-text Несколько раз заказывала в данном магазине, всегда радовала быстрая доставка. Люстру привезли и установили мастера бесплатно. Заказывала бра, предложили сразу лампочки и скидки приятные, после первого заказа. 10% не бывают лишние!

        .comments-more-yandex
            span Больше отзывов о нас читайте на:
            +icon('imgya')
