section.breadcrumbs.pb-0
    .container
        ul.breadcrumb-list
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Главная
                +icon('arrow-right')
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Новости
                +icon('arrow-right')
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Светильники в стиле Лофт
                +icon('arrow-right')
