section.news-more-articles
    .container
        .news-more-wrapper
            h3.section-title Вам могут быть интересны
            .news-more-articles-block-swiper.swiper-container
                .news-more-articles-block.swiper-wrapper
                    .news-block-more.swiper-slide.col-lg-6.col-md-6.col-sm-12
                        .news-block-more__img
                            .img-news-more-img(style="background-image: url('static/img/general/news/img1.png')")
                            span.news-img-date 29 октября 2019
                        .news-block-more__content
                            span Новый бренд Vitaluce: захватывающий дизайн и 5 лет гарантии
                            p Уважаемые гости нашего интернет-магазина, мы с радостью представляем вам новую марку ...
                    .news-block-more.swiper-slide.col-lg-6.col-md-6.col-sm-12
                        .news-block-more__img
                            .img-news-more-img(style="background-image: url('static/img/general/news/img2.png')")
                            span.news-img-date 29 октября 2019
                        .news-block-more__content
                            span Новый бренд Vitaluce: захватывающий дизайн и 5 лет гарантии
                            p Уважаемые гости нашего интернет-магазина, мы с радостью представляем вам новую марку ...
