section.news-article
    .container
        .news-page-wrapper
            .news-page-article-header
                .news-page-article-title
                    h3.section-title Светильники в стиле Лофт
                    .news-page-article-date-and-time
                        .news-page-article-date 23 июля 2019
                        .news-info-view-time
                            +icon('newsc')
                            span Читать #[span.news-bold 4-6 минут]
                .news-share
                    span Поделиться новостью
                    .footer-social.news-social
                        a(href="/")
                            .news-links-social.footer-vk
                                +icon('vk')
                        a(href="/")
                            .news-links-social.footer-fb
                                +icon('fb')
                        a(href="/")
                            .news-links-social.footer-tw
                                +icon('tw')

            .news-article-content.col-lg-10.col-md-12.col-sm-12
                p Светильники, выполненные в стиле лофт невероятно популярны, за их, кажущейся простотой, прячется широчайший ряд разнообразных возможностей для дизайнерских решений. Это огромный выбор форм (от традиционных до имитаций каких-то предметов), которые объединены одной общей чертой – лаконичностью. Если говорить о лофте, то не лишним будет вспомнить, что направление это пришло из американских урбан помещений. Помимо вышеупомянутой лаконичности, чертами индустриального стиля (а это еще одно название лофта) можно считать – довольно грубые формы, намеренно показанные технически узлы, нескрываемые детали и механизмы.
                .news-swiper-1.swiper-container
                    .news-article-content-img-wrap.row.swiper-wrapper
                        .news-img-style.swiper-slide(style="background-image: url('static/img/general/news/img1.png')")
                        .news-img-style.swiper-slide(style="background-image: url('static/img/general/news/img2.png')")
                    .news1-swiper-pagination.swiper-pagination
                p В целом, если заранее говорить о том, куда лучше впишутся светильники в стиле лофт, то, конечно лучше всего они будут смотреться в квартире, которая вся выполнена в таком же, индустриальном направлении (как правило, помещения лофт – это большие площади, имеющие высокие потолки, стены в таких квартирах без какой-либо отделочной обработки, большие окна, много света) .
                span.news-medium-text Светильники в стиле лофт могут быть выполнены из таких материалов, как:
                ul.news-attr-list
                    li.news-attr-item Стекло
                    li.news-attr-item Металл
                    li.news-attr-item Пластик
                    li.news-attr-item Дерево
                p К светильникам в индустриальном стиле можно предъявить несколько основных требований, таких, как: функциональность, прочность, гибкость. Зачастую основанием таких светильников может служить практически любой предмет, так или иначе ассоциирующийся с фабриками или промышленностью.
                span.news-article-medium-title Варианты светильников в индустриальном стиле
                p Существует масса вариантов, как в плане форм, так и с точки зрения размещения светильника.
                span.news-medium-text Подвесные
                p Если говорить о подвесных светильниках, то они были в моде еще в 60-е годы (в тот период молодые люди активно селились на заброшенных заводах, складах), такой тип превосходно справляется с освещением больших площадей. На данный момент, очень востребованы, к примеру, в условиях кухни, где используются для освещения рабочей зоны, добавляют интерьеру винтажный стиль.

                .news-swiper-2.swiper-container
                    .news-article-content-img-wrap.row.swiper-wrapper
                        .news-img-style.swiper-slide(style="background-image: url('static/img/general/news/img3.png')")
                        .news-img-style.img-25.swiper-slide(style="background-image: url('static/img/general/news/img4.png')")
                        .news-img-style.img-25.swiper-slide(style="background-image: url('static/img/general/news/img5.png')")
                    .news2-swiper-pagination.swiper-pagination
                p Существует масса модификаций подвесных светильников, люстр, к примеру, очень удобные модели с большим количеством разнонаправленных источников света, особенно хороши для больших по площади комнат, квартир студий, ни один уголок комнаты не останется в тени, популярным в таких случаях является, так называемая модель – паук (с множеством ответвлений, свободно и независимо вращающихся).
                .news-article-content-img-wrap.row
                    .news-img-style.img-100(style="background-image: url('static/img/general/news/img6.png')")
                p Основной светильник (люстра) является своего рода вершиной, центром домашней системы освещения, поэтому рядом с ней не стоит больше размещать какие-либо источники света, во всем хороша мера, а, к примеру, расположенные по близости напольные светильники будут отвлекать от главного источника, общий вид в таком случае будет несколько сумбурным.
                span.news-medium-text Настольные и напольные светильники
                p Внешне такие лампы напоминают, те, что ранее использовались для освещения, к примеру, швейных станков в различных мастерских, в силу своей конструкции обеспечивают освещение там, где оно необходимо, локальное освещение. Зачастую выполнены таким образом, чтобы удобно поворачивать и направлять свет. Как правило, основание выполнено из нескольких последовательных секций, которые соединены шарнирами. Довольно интересно смотрятся модели, выполненные из труб, или стилизованные под прожекторы.
                .news-swiper-3.swiper-container
                    .news-article-content-img-wrap.row.swiper-wrapper
                        .news-img-style.swiper-slide(style="background-image: url('static/img/general/news/img1.png')")
                        .news-img-style.swiper-slide(style="background-image: url('static/img/general/news/img2.png')")
                    .news3-swiper-pagination.swiper-pagination
                span.news-medium-text Шинные подвесные светильники
                p Внешне такие лампы напоминают, те, что ранее использовались для освещения, к примеру, швейных станков в различных мастерских, в силу своей конструкции обеспечивают освещение там, где оно необходимо, локальное освещение. Зачастую выполнены таким образом, чтобы удобно поворачивать и направлять свет. Как правило, основание выполнено из нескольких последовательных секций, которые соединены шарнирами. Довольно интересно смотрятся модели, выполненные из труб, или стилизованные под прожекторы.
                span.news-medium-text Настенные
                p Поскольку всегда, когда речь идет о стиле лофт, подразумевается практичность и удобство, правильнее даже сказать, какая-то абсолютная полезность, то настенные светильники тут исключением конечно не являются. Поэтому такие светильники также способны вращаться, менять направление светового потока, плафоны без какого-либо декора, могут вообще отсутствовать, вместо них просто металлическая рама – основа. Так как основная идея лофта простота, каких-то требований к дизайну и сочетанию цветовой гаммы нет. Если речь идет о точечном освещении, то лучше всего его размещать равномерно по всей площади, удобство такой системы в том, что можно освещать выбранный, конкретный участок. Конечно, лофт светильники лучше всего вписываются в квартиры выполненные в этом же лофт стиле, но при желании их можно прекрасно вписать и в традиционный интерьер (эклектика сейчас очень популярна), светильники выполненные в индустриальном стиле отлично впишутся в квартиру-студию, оформленную в минималистическом стиле, в просторную квартиру, с высокими потолками и большими окнами, в интерьер в стиле стимпанк, в лаконичный и сдержанный скандинавский интерьер.
                .news-article-content-img-wrap.row
                    .news-img-style.img-100(style="background-image: url('static/img/general/news/img6.png')")
                p Главное, когда речь идет об оформлении – не переборщить, все должно быть в тему, и выполнять какую-то функцию, элементы интерьера должны дополнять друг друга, а не отвлекать.
                .news-navigation.mt-5
                    a.news-prev-article(href="/")
                        .news-arrow-wrap
                            +icon('arrow-left')
                        span Предыдущая новость
                    a.news-next-article(href="/")
                        span Следующая новость
                        .news-arrow-wrap
                            +icon('arrow-right')
