section.thx-for-order
    .container
        .thx-order-block.col-lg-10
            .thx-order.col-lg-6
                h3.section-title Спасибо за заказ
                span Ваш заказ №343456 сформирован
                p Наш менеджер перезвонит вам для подтверждения
                a.thx-order-button.teamlight-buttons-buy.you-basket-over-buy(href="/") Продолжить покупки
            .thx-order.col-lg-6
                .thx-order-img(style="background-image: url('static/img/general/pages/img1.png')")
