section.setup
    .container
        .setup-wrap
            h3.section-title Установка и сборка
            p Возможность установки и сборки от наших мастеров, действует только для жителей Москвы и Подмосковья
            .setup-block-list
                .setup-block-item-wrap.col-lg-6
                    .setup-block-item
                        .setup-block-item-content
                            span.setup-block-title Люстры и потолочные светильники
                            ul.setup-stock-list
                                li.setup-stock-item 1-2 шт. – #[span 10%] от общей стоимости товаров, #[span но не менее 1 200 ₽]
                                li.setup-stock-item 3-5 шт. – #[span 10%] от общей стоимости товаров, #[span но не менее 1 900 ₽]
                                li.setup-stock-item 6 и более шт. – #[span 10%] от общей стоимости товаров, #[span но не менее 2 500 ₽]

                .setup-block-item-wrap.col-lg-6
                    .setup-block-item
                        .setup-block-item-content
                            span.setup-block-title Бра и торшеры
                            ul.setup-stock-list
                                li.setup-stock-item 1-2 шт. – #[span 10%] от общей стоимости товаров, #[span но не менее 1 100 ₽]
                                li.setup-stock-item 3-5 шт. – #[span 10%] от общей стоимости товаров, #[span но не менее 1 400 ₽]
                                li.setup-stock-item 6 и более шт. – #[span 10%] от общей стоимости товаров, #[span но не менее 1 700 ₽]
            .setup-primer.col-lg-7
                p Пример: #[span вам нужно установить 2 бра. Их общая стоимость – 5 243 ₽. Установка 10% от общей стоимости равна 524 ₽.Но так как есть минимальный порог стоимости установки, она вам обойдется в 1 100 ₽.]
            .setup-attr.col-lg-7
                .setup-attr-item
                    +icon('light')
                    p Перекоммутация проводов под двойной выключатель - #[span 500 ₽]
                .setup-attr-item
                    +icon('keys')
                    p Демонтаж настенных и потолочных светильников, бра и люстр - #[span 200 ₽] за 1 шт.
