section.breadcrumbs.pb-0
    .container
        ul.breadcrumb-list
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Главная
                +icon('arrow-right')
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Каталог
                +icon('arrow-right')
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Люстры
                +icon('arrow-right')
            li.breadcrumb-item
                a.breadcrumb-link(href="/") Подвес Maytoni ARM325-33-W Elegant 23
                +icon('arrow-right')