section.you-view
    .container
        .you-view-container
            .you-view-container-title
                h3.section-title Вы смотрели
                .you-view-clear
                    +icon('close')
                    span.you-view-clear-text Очистить список
            .you-view-products-list.swiper-container
                .swiper-wrapper
                    .you-view-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image1.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽
                    .you-view-product-wrap.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image2.png" alt="Название")
                                .product-stock-procent – 20%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                                    .product-item-price-no-stock 11 850 ₽