section.product-page
    .container
        .product-page-title-wrap
            .product-page-mobile-attr
                h3.product-page-title Подвес Maytoni ARM325-33-W Elegant 23
                p.product-content-info-attr-text.mb-0.product-content-info-attr-text-mobile Отлично смотрится в спальне!
            .product-page-add-to-favourite
                +icon('heart')
                span.product-page-favourite-span В избранное
        .product-content-wrapper
            .product-content-slider.col-xl-5.col-lg-5.col-md-6.col-sm-6.p-0

                .swiper-container.gallery-thumbs
                    .swiper-wrapper
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img1.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img2.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img3.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img4.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/big/img-big.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img1.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img2.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img3.png")
                        .product-content-slider-img-thumb-wrap.swiper-slide
                            img.img-width-100.product-content-slider-img-thumb(src="static/img/content/product/mini/img4.png")
                .product-load-more-thumb-next
                    span.product-load-more-thumb-text #[span.thumb-count] фото
                    +icon('arrow-down')
                .swiper-container.gallery-top
                    .product-content-slider-procent -15%
                    .swiper-wrapper
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img1.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img1.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img2.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img2.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img3.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img3.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img4.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img4.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/big/img-big.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/big/img-big.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img1.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img1.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img2.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img2.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img3.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img3.png")
                        a.product-content-slider-img-wrap.swiper-slide(data-fancybox="images" href="static/img/content/product/mini/img4.png")
                            img.img-width-100.product-content-slider-img(src="static/img/content/product/mini/img4.png")
                    .product-navigation-swiper-arrows
                        .product-swiper-buttons-next.product-swiper-buttons-nav
                            +icon('arrow-left')
                        .product-swiper-buttons-prev.product-swiper-buttons-nav
                            +icon('arrow-right')
                    .product-swiper-pag.swiper-pagination

            .product-cotent-info.col-xl-7.col-lg-7.col-md-6.col-sm-6
                .product-content-info-attr
                    p.product-content-info-attr-text Отлично смотрится в спальне!
                    ul.product-content-info-attr-list
                        li.product-content-info-attr-item
                            span.product-content-info-attr-name Код товара
                            span.product-content-info-attr-value 7950-314842
                        li.product-content-info-attr-item
                            span.product-content-info-attr-name Артикул
                            span.product-content-info-attr-value 317011303
                        li.product-content-info-attr-item
                            span.product-content-info-attr-name Производитель
                            span.product-content-info-attr-value MW-Light
                        li.product-content-info-attr-item
                            span.product-content-info-attr-name Страна
                            span.product-content-info-attr-value Испания
                        li.product-content-info-attr-item
                            span.product-content-info-attr-name Количество ламп, шт
                            span.product-content-info-attr-value 4
                    a.product-content-info-attr-perehod.teamlight-link(href="/") Перейти к описанию
                    .product-content-info-present
                        +icon('present')
                        p Комплект светодиодных ламп, установка и сборка в подарок
                .product-content-info-price
                    .product-content-price
                        .product-content-price-after 100 990 ₽
                        .product-content-price-before 109 690 ₽

                    .product-content-price-count-sklad.product-out-of-stock Нет в наличии

                    .product-content-price-buttons-added
                        // Уведомить о поступлении
                        .product-content-added-to-cart2.teamlight-buttons-buy(data-toggle="modal" data-target="#popop-notific") Уведомить меня о поступлении

                        .product-content-buy-1-click.teamlight-buttons-buy.teamlight-buy-1-click-disable(data-toggle="modal" data-target="#popop-1-click") Купить в 1 клик



                    .product-content-info-delivery.search-by-index
                        input.product-content-search-by-index(type="text" placeholder="Поиск по городу, индексу")
                        .product-cotent-delivery-date
                            +icon('delivery')
                            span Привезём до 17 октября  — бесплатно




