section.guarantie-product
    .container
        .guarantie-main
            .guarantie-main-item-wrap.col-lg-4
                .guarantie-main-item
                    +icon('guarantie')
                    .guarantie-main-block
                        span 12 месяцев гарантии
                        p Мы уверены в качестве своего товара
            .guarantie-main-item-wrap.col-lg-4
                .guarantie-main-item
                    +icon('calendar')
                    .guarantie-main-block
                        span 14 дней на возврат
                        p Вы всегда можете вернуть товар
            .guarantie-main-item-wrap.col-lg-4
                .guarantie-main-item
                    +icon('delivery')
                    .guarantie-main-block
                        span Доставка по всей России
                        p Доставим любой город без предоплаты