section.tabs-product
    .container
        .tabs-product-wrap
            .tabs-product-all-tabs
                .tab-description.tabs-teamlight.active(data-tab="desc-content") Описание и характеристики
                .tab-delivery.tabs-teamlight(data-tab="deli-content") Доставка и оплата

            .tabs-product-content
                .tab-content.tab-description-content.desc-content.active
                    p Дизайн, подсказанный самой природой – главная особенность продукции Дубравия. Создавая этот светильник, компания использует натуральную древесину, окрашенную итальянской краской. Аутентичный дизайн светильника подчеркнет характерную атмосферу вашего интерьера.
                    .tab-content-spec
                        h3.tab-title Характеристики
                        ul.tab-spec-list
                            li.tab-spec-item
                                span Производитель
                                span MW-Light
                            li.tab-spec-item
                                span Страна
                                span Испания
                            li.tab-spec-item
                                span Тип
                                span Потолочный светильник
                            li.tab-spec-item
                                span Тип цоколя
                                span E27
                            li.tab-spec-item
                                span Количество ламп, шт
                                span 4
                            li.tab-spec-item
                                span Макс. мощность 1 лампы, Вт
                                span 40
                            li.tab-spec-item
                                span Общая мощность, Вт
                                span 180
                            li.tab-spec-item
                                span Количество плафонов
                                span 3
                            li.tab-spec-item
                                span Напряжение
                                span 220
                            li.tab-spec-item
                                span Площадь освещения, м²
                                span 9
                            li.tab-spec-item
                                span Тип крепления
                                span Планка
                            li.tab-spec-item
                                span Степень защиты IP
                                span 20
                            li.tab-spec-item
                                span Стиль
                                span Классика, Прованс
                            li.tab-spec-item
                                span Место применения
                                span Гостиная, спальня, отель, кухня, прихожая
                            li.tab-spec-item
                                span Серия
                                span Афродита
                            li.tab-spec-item
                                span Диммер
                                span Есть
                            li.tab-spec-item
                                span Гарантия, мес
                                span 12

                            .tab-spec-section-title.mt-3 Размеры и вес

                            li.tab-spec-item
                                span Высота, см
                                span 20
                            li.tab-spec-item
                                span Длина, см
                                span 42
                            li.tab-spec-item
                                span Ширина, см
                                span 42
                            li.tab-spec-item
                                span Диаметр, см
                                span 42
                            li.tab-spec-item
                                span Вес, кг
                                span 4,65
                            .tab-spec-section-title Материал и цвет

                            li.tab-spec-item
                                span Материал основания
                                span Металл
                            li.tab-spec-item
                                span Материал плафонов
                                span Стекло
                            li.tab-spec-item
                                span Цвет основания
                                span Бронза
                            li.tab-spec-item
                                span Цвет плафонов
                                span Бежевый

                .tab-content.tab-delivery-content.deli-content
                    .tab-content-deli.col-lg-6
                        h3.tab-title Условия доставки
                        p Доставка осуществляется после оплаты. Срок доставки зависит от расстояния до вашего города, а стоимость доставки – от веса и объема заказа.
                        p Мы отправляем заказы любой транспортной компанией, которая есть в вашем городе.
                    .tab-content-spec.col-lg-6.d-flex.justify-content-center.align-items-center.flex-column
                        .tab-content-pay
                            h3.tab-title Способы оплаты
                            .tab-content-pay-method
                                +icon('nal')
                                span Наличные или банковские карты
                            .tab-content-pay-method
                                +icon('yandexd')
                                span Яндекс.Деньги
                            .tab-content-pay-method
                                +icon('bank')
                                span Перевод через банк
