section.you-come-in.pt-0
    .container
        .new-products-wrap.pt-0
            .new-products-wrap-arrows
                h3.section-title Вам пригодится
                .last-day-arrows-wrap
                    .new-product-next.last-day-arrows
                        +icon('arrow-left')
                    .new-product-prev.last-day-arrows
                        +icon('arrow-right')
            .new-products-slider.swiper-container
                .swiper-wrapper
                    .new-products-wrapper.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image1.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                    .new-products-wrapper.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image2.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽

                    .new-products-wrapper.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image3.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽

                    .new-products-wrapper.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image4.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽

                    .new-products-wrapper.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image5.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽
                    .new-products-wrapper.swiper-slide.col-xl-2dot4.col-lg-3.col-md-4.col-sm-5
                        .last-day-product-item
                            .product-item-last-img-wrap
                                img.last-day_img.img-width-100(src="static/img/general/last_day_stock/image5.png" alt="Название")
                                .product-stock-procent – 15%
                                .prodcut-favourite-added
                                    +icon('heart')
                                .product-add-to-basket
                                    +icon('basket')
                                    .product-add-to-basket-text В корзину
                            .product-item-last-day-content
                                a.product-item-last-day__link(href="/") Потолочная люстра Nowodvorski Coba 9724
                                .product-item-price-and-stock
                                    .product-item-price-stock 8 498 ₽