.thx-for-order
  padding 60px 0
  border 1px solid rgba(75, 75, 75, 0.21)

.thx-order

  span
    font-family "Montserrat 500", sans-serif
    font-size 16px
    color rgba(56, 56, 56, 0.51)
    margin-bottom 20px
    display block

  p
    font-family "Montserrat 400", sans-serif
    font-size 16px
    margin-bottom 50px
.thx-order-block
  margin 0 auto
  display flex

.thx-order-button
  background-color color383838
  width 300px

  &:hover
    color #fff

.thx-order-img
  background-size contain
  width 336px
  height 336px
  background-repeat no-repeat

.thx-order
  display flex
  justify-content center
  flex-direction column


.result-search:before
  content ''
  position absolute
  top 0
  right 0
  width: 100%
  height: 300px
  background-image url("/static/img/general/pages/img2.png")
  background-size contain
  background-repeat no-repeat
  background-position: 70%;

.search-result-you
  display flex
  margin-bottom 51px

  .your-search-name
    font-family "Montserrat 600", sans-serif
    font-size 22px
    color color383838
    display flex
    margin-bottom 0

  .your-search
    font-family "Montserrat 400", sans-serif
    font-size 22px
    margin-left 5px
    margin-bottom 0
    color color383838
.search-tags-wrap
  display flex
  align-items center
  margin 0 0

  p
    margin-right 25px
    margin-bottom 0
    font-size 14px
.search-tags
  display flex
  align-items center

  a
    font-family "Montserrat 400", sans-serif
    color #00B2CB
    margin-right 25px
    font-size 14px

.search-block-result
  padding 50px 0
.basket-you
  border-top 1px solid rgba(75, 75, 75, 0.2)
  padding 60px 0

.basket-empty__img
  size(200px)
  margin-bottom 40px

.basket-empty
  display flex
  align-items center
  justify-content center
  flex-direction column
  margin 0 auto

  p
    font-family "Montserrat 400", sans-serif
    font-size 16px
    text-align center
    margin-bottom 34px

.bread-border
  border-top 1px solid rgba(75, 75, 75, 0.2)
.all-partner-wrap
  margin 0 15px
.partner-wrap
  width 100%
  display: flex;
  justify-content: space-between;
  height: 300px;
  position: relative;
  background-color: #ffc83b;
  z-index: 1;
  margin-bottom 60px

  &:after
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    clip-path: polygon(84% 0, 100% 0, 100% 100%, 75% 100%);
    background-color: #ffd058;
    z-index: -1;
    width: 100%;

.partner-content-text
  margin 0 auto
  display block
  absolute-center()

  p
    font-family "Montserrat 400", sans-serif
    font-size 18px
    width 440px

.partner-content
  width 100%

  &:before
    content ''
    background-image url("/static/img/general/partner/img1.png")
    size(200px)
    background-size contain
    position absolute
    left 0
    bottom 0
    background-repeat no-repeat

  &:after
    content ''
    background-image url("/static/img/general/partner/img2.png")
    width 315px
    height 100%
    background-size contain
    position absolute
    right 35px
    top 0
    background-repeat no-repeat


.partner-my-wrap
  //width 30%

  p
    font-family "Montserrat 400", sans-serif
    font-size 14px

.partner-block-item
  display flex
  flex-direction column
  position relative
  padding 20px

  &:before
    content ''
    position absolute
    left 0
    top 0
    size(104px)
    clip-path: polygon(100% 0, 0 0, 0 100%)
    background-color rgba(0, 178, 203, 0.13)

  .icon
    size(50px)
    fill #00B2CB
    margin-bottom 23px

  span
    font-family "Montserrat 800", sans-serif
    font-size 15px
    margin-bottom 10px

  p
    font-family "Montserrat 400", sans-serif
    font-size 12px
.partner-my-partner
  display flex

.partner-block-list
  display flex

.partner-subscribe
  display flex
  justify-content center
  align-items center
  border-top 1px solid rgba(56, 56, 56, 0.13)
  margin-top 30px
  padding 70px 0

.partner-sub-form
  display flex
  position relative
  width max-content

  input
    width 340px
    font-size 14px


.partner-sub-button
  background-color color383838
  position absolute
  border 1px solid color383838
  right 0
  bottom 0
  top 0
  border-radius 0 2px 2px 0
  width 63px

  .icon
    size(27px)
    fill #fff

.partner-sub

  p
    font-size 16px
    font-family "Montserrat 400", sans-serif

.setup-wrap
  margin 0 15px

  p
    font-family "Montserrat 500", sans-serif
    font-size 14px
    margin-bottom 30px


.setup-block-item
  display: flex;
  justify-content: space-between;
  height: 270px;
  position: relative;
  background-color: #F0FFFF;
  z-index: 1;

  &:after
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 57% 100%);
    background-color: #D8F7FA;
    z-index: -1;
    width: 100%;

.setup-block-list
  display flex
  margin 0 -15px
  margin-bottom 24px

.setup-block-item-content
  position absolute
  right 0
  left 0
  top 0
  bottom 0
  margin 24px

  span
    font-family "Montserrat 800", sans-serif
    font-size 18px

.setup-stock-item
  font-size 14px
  font-family "Montserrat 400", sans-serif
  width 300px
  margin-bottom 15px

  span
    font-size 14px

.setup-block-title
  margin-bottom 25px
  display block

.setup-stock-item
  position relative
  margin-left 14px

  &:before
    content ''
    size(6px)
    background-color #00B2CB
    position absolute
    left -14px
    top 5px

.setup-block-item-wrap:first-child .setup-block-item

  &:before
    content ''
    position absolute
    background-image url("/static/img/general/partner/img2.png")
    width 253px
    height 100%
    right 0
    top 0
    background-repeat no-repeat
    background-size contain

.setup-block-item-wrap:last-child .setup-block-item

  &:before
    content ''
    position absolute
    background-image url("/static/img/general/partner/img1.png")
    width 270px
    height 100%
    right 0
    top 0
    background-repeat no-repeat
    background-size contain

.setup-primer
  margin 0 -15px

  p
    font-size 12px
    color #7DB408
    font-family "Montserrat 600", sans-serif
  span
    font-family "Montserrat 400", sans-serif
    color color383838
    font-size 12px

.setup-attr-item
  display flex
  align-items center
  margin-bottom 20px

  .icon
    size(25px)
    fill #20BCD1
    margin-right 14px

  p
    margin-bottom 0
    font-size 14px

  span
    font-family "Montserrat 800", sans-serif

.popup-bg
  background: rgba(64, 63, 63, 0.23);
  backdrop-filter: blur(10px);

.popup-content
  border none
  border-radius 0
  background-color #fff
  padding 24px


.popup-close
  position relative
  text-align right
  font-family "Montserrat 600", sans-serif
  font-size 18px
  margin: 0 0% 0 98%;

  .icon
    size(18px)
    fill color383838

.popup-left-right
  display flex
  margin 0 -15px

.popup-title
  font-size 16px
  font-family "Montserrat 800", sans-serif
  margin-bottom 25px

.popup-dialog
  max-width 840px

.popup-slide-thumb
  img
    size(56px)

.popup-swiper
  margin-bottom 14px

.popup-swiper-horisontal
  width 100%
  margin 0
  display flex
  margin-right 20px

.popup-swiper-horisontal-wrap
  display flex
  align-items center

.popup-swiper-count
  font-family "Montserrat 400", sans-serif
  font-size 12px
  color #00B2CB
  width max-content
  outline none
  margin-right 3px

.popup-swiper-count-photo
  display flex
  align-items center
  font-family "Montserrat 400", sans-serif
  font-size 12px
  color #00B2CB
  text-decoration underline
  cursor pointer
  outline none

.popup-product-price
  display flex
  align-items center

.popup-product-price-span
  font-family "Montserrat 800", sans-serif
  font-size 32px
  margin-right 16px
  display block

.popup-product-price-span2
  font-family "Montserrat 400", sans-serif
  font-size 20px
  text-decoration line-through
  display block

.popup-favourite
  width 20px

  .icon
    size(19px)
    fill color383838

.popup-product-icon-price
  display flex
  align-items center
  justify-content space-between
  line-height 0.7
  margin-bottom 36px
.you-basket-over-buy
  border none
.popup-product-info
  .product-content-info-attr-name,.product-content-info-attr-value
    font-size 13px
  .product-content-info-attr-item
    margin-bottom 20px

  .product-content-info-attr-list
    margin-bottom 32px

.popup-buttons-add-to-cart
  display flex
  align-items center
  margin-bottom 47px

.popup-present
  margin-bottom 32px

.popup-buy
  background-color color383838
  color #fff
  margin-right 12px

  &:hover
    background-color #EE554B

  &:active
    background-color #F53B2F

.popup-buy-1-click
  border 1px solid color383838

  &:hover
    border 1px solid #EE554B

  &:active
    border 1px solid #F53B2F

.popup-go-to-product
  display flex
  align-items center
  float right
  span
    font-family "Montserrat 500", sans-serif
    font-size 12px
    margin-right 12px

.popup-link-icon
  size(22px)
  border 1.2px solid color383838
  border-radius 50%
  display flex
  align-items center
  justify-content center

  .icon
    size(8px)

.popup-1-left
  background-size 80%
  background-repeat no-repeat
  width 45%
  height 500px
  background-position center

.popup-1-right
  width 55%
  background-color #F6F6F6
  padding 24px

.popup-1-click-wrap
  display flex

.popup1-content
  border none
  border-radius 0

.popup-1-right-content
  padding 50px

  input
    margin-bottom 18px
.fs-22
  font-size 22px

.checkout-order[disabled]

  &:hover
    background-color: #9b9b9b;


.popup2-content
  border none
  border-radius 0
  padding 24px

.popup-text-question
  font-family "Montserrat 400", sans-serif
  font-size 14px
  text-align center
  margin-bottom  25px

.delivery-wrap
  background-color #00B2CB

  &:after
    background-color #0CC3DD

.delivery-content

  &:before
    background-image url("/static/img/general/delivery/img2.png")
    width: 405px;
    height: 220px;
    right: 50px;
    left auto

  &:after
    background-image url("/static/img/general/delivery/img1.png")
    width: 372px;
    height: 300px;
    right: 300px;
    left: auto;
  .partner-content-text
    margin 0 0 0 -25%
    color #fff




.delivery-tab
  display flex
  align-items center
  border-right 1px solid rgba(56, 56, 56, 0.2)

  &:last-child
    border 0


  .icon
    size(36px)
    fill #EE554B
    margin-right 16px
    min-width 36px

.delivery-tab-items1
  font-family "Montserrat 800", sans-serif
  font-size 14px
  margin-bottom 6px

.delivery-tab-items
  font-family "Montserrat 400", sans-serif
  font-size 14px
  span
    color #EE554B

.delivery-tab-item
  display flex
  flex-direction column

.delivery-tabs
  display flex
  margin 0 -15px
  margin-bottom 50px

.delivery-my .partner-block-item
  margin-bottom 30px


.delivery-my  .partner-block-list
  margin 0 0

.delivery-region
  display flex
  margin 0 -15px
  margin-bottom 50px

.delivery-region-item

.delivery-region-wrap
  border-radius: 2px;

.deliver-tit
  font-family "Montserrat 800", sans-serif
  font-size 18px
  margin-bottom 8px

.delivery-region-item
  background-color rgba(0, 255, 255, 0.07)
  padding 24px
  p
    font-family "Montserrat 400", sans-serif
    font-size 13px
    color rgba(56, 56, 56, 0.76)
    margin-bottom 24px


.deliveri-rule
  color color383838 !important
  font-family "Montserrat 500", sans-serif !important
  font-size 12px !important
  margin-bottom 0 !important


.delivery-region-price
  display flex
  align-items center
  background-color rgba(0, 163, 182, 0.09)
  padding 12px 24px

  .icon
    size(36px)
    min-width 36px
    margin-right 17px
.delivery-region-price-text
  font-family "Montserrat 400", sans-serif
  font-size 13px

  span
    font-family "Montserrat 600", sans-serif

.delivery-setup
  background-color rgba(0, 255, 255, 0.07)
  padding 24px
  height: max-content;
  min-height: 183px;

.about-us-content
  .partner-content-text
    margin: 0 0 0 -15%;
    color #fff
  &:before
    display none
  &:after
    background-image url("/static/img/general/girlz.png")
    right 100px


.about-us-wrap
  background-color #7DB408
  &:after
    background-color #87C209

.comments-yandex
  background-color #F6F6F6
  padding 60px 0

.comments-title-arrow
  display flex
  justify-content space-between
  align-items center

.comment-ya-info
  display flex
  align-items center
  margin-bottom 10px

.comment-date
  font-family "Montserrat 400", sans-serif
  font-size 12px
  color rgba(56, 56, 56, 0.7)
  margin-bottom 16px
  display block

.comment-ya-name
  font-family "Montserrat 600", sans-serif
  font-size 16px
  margin-right 16px

.comment-ya-text
  font-family "Montserrat 400", sans-serif
  font-size 12px
  line-height 2

.commen-ya-slide
  background-color #fff
  padding 26px
  border-radius 2px

.comments-title-arrow
  margin-bottom 45px

.comments-more-yandex
  display flex
  align-items center
  justify-content center


  span
    font-family "Montserrat 600", sans-serif
    font-size 16px

  .icon
    size(100px,20px)

 .comments-ya
   margin-bottom 44px

.news-wrapper
  margin 0 15px

.news-img-wrap
  position relative

.news-img-date
  position absolute
  top 20px
  left 20px
  background-color rgba(255, 255, 255, 0.66)
  border-radius 2px
  font-family "Montserrat 500", sans-serif
  font-size 12px
  padding 2px 8px

.news-container-items
  border-radius 2px
  margin-bottom 30px

  img
    border-radius 2px 2px 0px 0

.news-info-view-time
  display flex
  background-color rgba(0, 178, 203, 0.12)
  border-radius 2px
  align-items center
  padding 2px 8px
  width max-content
  margin-bottom 10px


  .icon
    size(12px)
    fill #00B2CB
    margin-right 7px

  span
    font-family "Montserrat 400", sans-serif
    color #00B2CB
    font-size 12px

.news-bold
  font-family "Montserrat 600", sans-serif

.news-info-wrap
  padding 20px 25px
  background-color #fff
  border-radius 0 0 2px 2px

.news-page .content
  background-color #F6F6F6
.news-title
  font-family "Montserrat 800", sans-serif
  font-size 16px
  margin-bottom 6px

.news-text
  font-family "Montserrat 400", sans-serif
  font-size 12px
  line-height 2

.news-show-more
  cursor pointer
  padding 4px
  display flex
  align-items center
  justify-content center

  .icon
    size(14px)
    fill #00B2CB
    margin-right 10px

  span
    font-family "Montserrat 500", sans-serif
    font-size 14px
    color #00B2CB

.news-page-article-date-and-time
  display flex
  align-items center

  .news-info-view-time
    margin-bottom 0

.news-page-article-date
  margin-right 24px
  font-family "Montserrat 400", sans-serif
  font-size 12px

.news-page-article-header
  display flex
  justify-content space-between
  align-items center
  margin-bottom 33px


.news-links-social
  display: flex;
  align-items: center;
  justify-content: center;
  size(32px)
  border-radius: 50%;

  .icon
    fill #fff
    size(18px)

.news-share

  span
    font-family "Montserrat 500", sans-serif
    font-size 12px
    margin-bottom 8px
    display block

.news-social

  a
    margin-right 21px
    &:last-child
      margin-right 0

.news-article-content
  margin-left -15px

  p
    font-family "Montserrat 400", sans-serif
    font-size 14px
    line-height 1.8
    margin-bottom 15px

.news-page-wrapper
  margin 0 15px

.img-width-50
  width 49%
  height auto
  padding 15px

.news-img-style
  background-size cover
  width 49.5%
  height 370px
  background-repeat no-repeat
  background-position center
  border-radius 2px
  margin-bottom 20px

  &:last-child
    margin-right 0

.img-25
  width 24.5%

.img-100
  width 100%

.news-medium-text
  font-family "Montserrat 600", sans-serif
  font-size 14px
  margin-bottom 12px
  display block
  color #383838

.news-attr-list
  display flex
  align-items center
  margin-bottom 18px

.news-attr-item
  position relative
  display flex
  align-items center
  font-family "Montserrat 400", sans-serif
  font-size 13px
  margin 0 12px 0 0

  &:before
    content ''
    size(6px)
    background-color #00B2CB
    position relative
    display block
    margin-right 12px

.news-article-medium-title
  display block
  font-family "Montserrat 800", sans-serif
  font-size 18px
  margin-bottom 14px

.news-article-content-img-wrap
  margin 0
  justify-content space-between

.news-navigation
  display flex
  align-items center
  justify-content space-between

.news-prev-article,.news-next-article
  display flex
  align-items center
  font-family "Montserrat 400", sans-serif
  font-size 14px

.news-prev-article  .news-arrow-wrap
  margin-right 12px


.news-next-article .news-arrow-wrap
  margin-left 12px

.news-arrow-wrap
  size(22px)
  position relative
  border 1.2px solid color383838
  border-radius 50%
  display flex
  align-items center
  justify-content center

  .icon
    size(8px)

.news-more-articles
  background-color #F6F6F6
  padding 60px 0

.news-more-wrapper
  margin 0 15px

.news-block-more__img
  position relative

.img-news-more-img
  height 158px
  background-size cover
  background-position center
  background-repeat no-repeat
  width 200px
  border-radius 2px 0 0 2px

.news-block-more__content
  background-color #fff
  padding 28px 22px
  border-radius 0px 2px 2px 0px

  span
    font-family "Montserrat 800", sans-serif
    font-size 14px
    margin-bottom 14px
    display block
  p
    font-family "Montserrat 400", sans-serif
    font-size 12px

.news-block-more
  display flex

.news-more-articles-block
  margin 0 -15px
  display flex

.map-teamlight
  padding 0
  height 100%

.map-title-wrap
  margin 0 15px
.map-height
  height 100vh
  min-height 470px
  position relative

.map-text-wrap-icon
  display flex
  align-items center
  margin-bottom 12px
  .icon
    size(16px)
    margin-right 10px
    fill #00B2CB
  span
    font-family "Montserrat 400", sans-serif
    font-size 12px
    color #00B2CB
.map-text-wrap
  margin-bottom 25px

  p
    font-family "Montserrat 400", sans-serif
    font-size 16px

.map-text-info
  width 100%
  max-width 1280px
  margin 0 auto
  position absolute
  left 0
  top 0
  right 0


.map-text-info-info
  position absolute
  top 72px
  left 30px
  width 410px
  padding 34px
  background-color #fff
  border-radius 2px
  margin 0 15px

.map-contact-phone
  display block
  a
    font-family "Montserrat 400", sans-serif
    font-size 16px
    display block
  span
    font-family "Montserrat 500", sans-serif
    font-size 10px
    color rgba(56, 56, 56, 0.51)
    display block

.map-contact-phone-wrap
  display flex
  justify-content space-between

.error-content

  p
    font-family "Montserrat 400", sans-serif
    font-size 16px
    text-align center
    margin-bottom 47px

.error-button
  background-color color383838
  color #fff
  width 300px
  margin  0 auto

  &:hover
    background-color #EE554B
    color #fff

  &:active
    background-color #F53B2F

.error-content
  margin 0 auto

.error-content-img
  background-size contain
  background-repeat no-repeat
  width 500px
  height 300px
  margin 0 auto
  margin-bottom 70px

.thx-order-img
  height 400px

.mobile-footer-pages
  display none
.mobile-header-992
  display none
  justify-content space-between
  .icon-logo-mobile
    display none
.mobile-header-992-wrap
  display none
.breadcrumb-list
  overflow-x scroll
.breadcrumb-list::-webkit-scrollbar
  height 0
  width 0
.product-content-info-attr-text-mobile
  display none
.partner-block-list
  margin 0
.mobile-header-attributes
  display flex
  align-items center

.filter-mobile-button
  display none
  align-items center
  justify-content center
  background-color color383838
  border-radius 2px
  height 38px
  width 104px
  cursor pointer

  .icon
    size(17px)
    fill #fff
    margin-right 10px
  span
    font-family "Montserrat 500", sans-serif
    font-size 12px
    color #fff

.mobile-go-back-arrow
  display none
  align-items center
  cursor pointer

  .icon
    size(15px)
    fill color383838
    margin-right 8px
  span
    font-family "Montserrat 500", sans-serif
    font-size 12px
.mobile-go-back
  padding 15px 0 !important
  display none



.mobile-header-search-576
  position fixed
  display none
  right 0
  left 0
  top 50px
  padding 10px 18px
  background-color #fff
  z-index 90
  border-bottom 1px solid rgba(75, 75, 75, 0.2)

.mobil-yandex-map
  display none

.product-swiper-pag
  display none

.mobile-filter-fixed
  display none


.catalog-product-pagi-link
  width max-content
  cursor pointer

.catalog-product-pagi-more-text
  display none

.header-main-bottom-relative
  position relative
  height 70px

.basket-products-info
  position sticky
  top 70px
  display inline-table


.popup-choice-city-form
  padding 15px 0

  input
    margin-bottom 0

  label
    font-family "Montserrat 400", sans-serif
    font-size 12px
    margin-bottom 30px

.popup-chise-city-item
  font-family "Montserrat 500", sans-serif
  font-size 13px
  cursor pointer
  padding 0
  margin-bottom 15px

.popup-chise-city-list
  margin 10px 0

#popop-city-choise .modal-dialog
  max-width 576px

.basket-products
  flex: 0 0 70.3%;
  max-width: 70.3%;

.basket-attr-cont
  cursor pointer

.basket-product-count-products
  width 30px
  border none
  background-color transparent
  text-align center



