section.map-teamlight
    .container
        .map-title-wrap
            h3.section-title Контакты
    .mobil-yandex-map
        .map-text-wrap
            .map-text-wrap-icon
                +icon('map')
                span Мы находимся
            p Москва, 1-й Вешняковский проезд, 1с7
        .map-text-wrap
            .map-text-wrap-icon
                +icon('phone')
                span Наши телефоны
            .map-contact-phone-wrap
                .map-contact-phone
                    a.map-contact-phone-link(href="tel:88005513135") 8 (800) 551 31 35
                    span Бесплатно по России
                .map-contact-phone
                    a.map-contact-phone-link(href="tel:84957616160") 8 (495) 761 61 60
                    span Наш офис
        .map-text-wrap
            .map-text-wrap-icon
                +icon('skype')
                span Skype
            .map-contact-phone-wrap
                .map-contact-phone
                    a.map-contact-phone-link(href="skype:teamlight.ru") teamlight.ru
        a.teamlight-link(href="/" download) Скачать наши реквизиты
    .map-height
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A58defa45035e1a8699196fc6406cdba510af46f2af9dffc0138c51da7e35ac52&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=false")
        .container
            .map-text-info
                .map-text-info-info
                    .map-text-wrap
                        .map-text-wrap-icon
                            +icon('map')
                            span Мы находимся
                        p Москва, 1-й Вешняковский проезд, 1с7
                    .map-text-wrap
                        .map-text-wrap-icon
                            +icon('phone')
                            span Наши телефоны
                        .map-contact-phone-wrap
                            .map-contact-phone
                                a.map-contact-phone-link(href="tel:88005513135") 8 (800) 551 31 35
                                span Бесплатно по России
                            .map-contact-phone
                                a.map-contact-phone-link(href="tel:84957616160") 8 (495) 761 61 60
                                span Наш офис
                    .map-text-wrap
                        .map-text-wrap-icon
                            +icon('skype')
                            span Skype
                        .map-contact-phone-wrap
                            .map-contact-phone
                                a.map-contact-phone-link(href="skype:teamlight.ru") teamlight.ru
                    a.teamlight-link(href="/" download) Скачать наши реквизиты
